// src/sass/variables.scss

// Globals
$body-font-family: 'Segoe UI';

// Variables must come before the import
$data-table-regular-header-font-size: "map-deep-get($headings, 'subtitle-2', 'size') !default;";
$data-table-regular-row-height: 40px !default;

$primary: #428ecc;
$secondary: #91cbfa;
$accent: #ff5520;
$validate: #3edb88;
$success: #3edb88;
$error: #f84949;
$background: #f8f8f8;
$bglight: #ffffff;
$dim: #999999;

$dialog-border-radius: 15px;
